<div style="height: 100vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-2"><?=__('lng.txt.welcome', 'default value')?></h1>

        <h5 class="animated fadeIn mb-1"><?=__('lng.txt.message', 'default value')?></h5>
        <br>
        <div class="cont" style="float: left">

        <a role="button" class="btn btn-default" href="<?=WEBROOT.DS.'artist'.DS.'nuevo';?>">   <?=__('lng.txt.new', 'default value')?></a>
        <a role="button" class="btn btn-default" href="<?=WEBROOT.DS.'artist'.DS.'editar';?>"><?=__('lng.txt.edit', 'default value')?></a>
        <a role="button" class="btn btn-default" href="<?=WEBROOT.DS.'artist'.DS.'listar';?>"><?=__('lng.txt.list', 'default value')?></a>
        <a role="button" class="btn btn-default" href="<?=WEBROOT.DS.'artist'.DS.'form/name=rolando';?>"><?=__('lng.txt.view', 'default value')?></a>
        </div>

    </div>

</div>


