<div align="center">
<table class="table table-bordered" style="width: 95%">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col"><?=__('lng.txt.name', 'default value')?></th>
        <th scope="col"><?=__('lng.txt.lastname', 'default value')?></th>
        <th scope="col"><?=__('lng.txt.typeart', 'default value')?></th>
        <th scope="col"><?=__('lng.txt.experience', 'default value')?></th>
        <th scope="col"><?=__('lng.txt.freelance', 'default value')?></th>
        <th scope="col"><?=__('lng.txt.corp', 'default value')?></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    </tbody>
</table>

</div>