<div align="center">
<form class="text-center border border-light p-5" style="width: 50%" method="get">

    <p class="h4 mb-4"><?=__('lng.txt.ftitle', 'default value')?></p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="<?=__('lng.txt.name', 'default value')?>">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="<?=__('lng.txt.lastname', 'default value')?>">
        </div>
    </div>

    <!-- E-mail -->
    <input type="text" id="defaultRegisterFormTipoArte" class="form-control mb-4" placeholder="<?=__('lng.txt.typeart', 'default value')?>">

    <!-- Password -->
    <input type="number" id="defaultRegisterFormPassword" class="form-control" placeholder="<?=__('lng.txt.experience', 'default value')?>" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <br>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" checked>
        <label class="custom-control-label" for="defaultUnchecked"><?=__('lng.txt.freelance', 'default value')?></label>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" >
        <label class="custom-control-label" for="defaultChecked"><?=__('lng.txt.corp', 'default value')?></label>
    </div>

    <button class="btn btn-info my-4 btn-block" type="submit"><?=__('lng.txt.ok', 'default value')?></button>

</form>
</div>
